/* Navbar Container */
  .navbar {
  position: fixed;       /* stays on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1000; /* stay above carousel *//* background after scroll */
}


.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}

/* Logo */
.logo {
  text-decoration: none;
}
.logo  img{
  width: 150px;
  height: 150px;
}
/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links li a:hover {
    color: #353535;
    text-decoration: underline;

}
.navbar.scrolled {
  background: rgba(17, 18, 26, 0.85); /* background after scroll */
  height: 150px;    /* smooth glass effect */
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #f3f3f3;
  margin: 4px 0;
  transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;       /* fixed to cover screen */
    top: 0;
    right: -100%;          /* hide offscreen to the right */
    width: 100%;          /* menu width */
    height: 100vh;         /* full height */
    flex-direction: column;
    background: rgba(17, 18, 26, 0.85); /* background after scroll */
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease; /* slide animation */
    
  }

.logo  img{
  width: 100px;
  height: 120px; 
}

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    margin: 15px 0;
    text-align: center;    
  }
  .nav-links li a{
    color: #f7f7f7;
  }

  .hamburger {
    display: flex;
  }
  .navbar.scrolled {
  height: 130px;     /* smooth glass effect */
}
}
@media (min-width: 769px) and (max-width: 1366px) {
  .nav-links {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    position: static;
    height: auto;
    background: none;
    box-shadow: none;
  }

  .nav-links li {
    margin: 0;
  }

  .hamburger {
    display: none;
  }
}